:root{
	--bg:#f0f0f0;
	--bgLogo:#272b35;
	--sb:#2b303b;
	--sbh:#22262f;
	--sba:#1d2028;
	--sbca:#20242c;
	--fsb:#c0c1c5;
	--toped:#025a02;
	--bl:#c30f42;
	--wa:#075e54;
	--sopi:#ff5722;
	--jne:#223378;
	--jnt:#ff0000;
	--pos:#f36523;
	--bbeli:#c46681;
	--bjual:#4c9c4c;
}